.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}
.tree li {
    list-style-type: none;
    margin: 0 20px;
    text-align: center;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}
.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 75%;
    height: 20px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 20px;
}
.tree li a {
    border: 2px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666 !important;
    font-family: arial, verdana, tahoma;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s;
    position: relative;
}
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8 !important;
    color: #000 !important;
    border: 2px solid #94a0b4;
}
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color:  #94a0b4;
}
.research-icon {
    width: 50px;
    height: 50px;
}
.unlocked {
    border-color: green !important;
}
.locked {
    border-color: red !important;
}
.levels {
    position: absolute;
    bottom: -10px;
    left: 5px;
    display: flex;
    gap: 3px;
}
.level-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc !important;
}
.level-circle.checked {
    background-color: green !important;
}
.level-circle.unchecked {
    background-color: white !important;
}
.research-popover {
    background-color: #034EA2;
    --bs-popover-max-width: 350px;
}
