.animate__animated.animate__delay-0 {
    -webkit-animation-delay: 1s;
    animation-delay: 150ms;
}
.animate__animated.animate__delay-1 {
    -webkit-animation-delay: 1s;
    animation-delay: calc(150ms * 2);
}
.animate__animated.animate__delay-2 {
    -webkit-animation-delay: 1s;
    animation-delay: calc(150ms * 3);
}
.animate__animated.animate__delay-2 {
    -webkit-animation-delay: 1s;
    animation-delay: calc(150ms * 3);
}
