.shop-bg-base { background-color: #00A5D9; color: white }
.shop-bg-bronze { background-color: #614E1A; color: white }
.shop-bg-argent { background-color: #C0C0C0; color: white }
.shop-bg-or { background-color: #FFD700; color: black }
.shop-bg-platine { background-color: #99A0A2; color: white }
