name: Deployment

on:
  push:
    branches:
      - master
  release:
    types:
      - published

jobs:
  on_push_master:
    runs-on: self-hosted
    steps:
      - name: Appel du webhook
        if: github.event_name == 'push'
        run: curl -k -X POST ${{ secrets.WEBHOOK_STAGING }}

  on_publish_release:
    runs-on: self-hosted
    steps:
      - name: Appel du webhook
        if: github.event_name == 'release'
        run: curl -k -X POST ${{ secrets.WEBHOOK_PRODUCTION }}
